.amount-suggest {
  position: absolute;
  top: 78px;
  left: 12px;
  right: 12px;

  background: white;

  border: 1px solid #dee2e6;
  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.08);

  z-index: 1000;

  overflow: hidden;
}

.amount-suggest button {
  width: 100%;

  border: none;
  background: white;

  padding: 10px 14px;

  text-align: left;

  transition: 0.2s;
}

.amount-suggest button:hover {
  background: #f8f9fa;
}